{% load static %}
<!DOCTYPE html>
<html>
  <meta charset='utf-8'>
  <title></title>
  <head>
<!-- leaflet 公式サイトより -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<!-- leaflet 公式サイトより -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
<!-- ajax読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- leaflet-ajaxの読み込み -->
    <link rel="stylesheet" href="https://github.com/calvinmetcalf/leaflet-ajax/blob/gh-pages/dist/leaflet.ajax.js">
    <!-- <script type="text/javascript" src="{% static 'world/dist/leaflet.ajax.js' %}"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <style>
      #map{
    height:600px;
    width:600px;
      }

      #text-button {
          display: block;
          cursor: pointer;
          width: 160px;
          text-align: center;
          border: 1px solid #232323;
        }
    </style>
    
  </head>
  <body >
    
    <div id='map'></div>
    <script>

      var pref_geojson=new L.GeoJSON.AJAX();
      
      var mymap=L.map('map').setView([35.40, 136], 5);
      var map1=L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png');///地理院
      var map2=L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/english/{z}/{x}/{y}.png');///英語
      var map3=L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/vbmd_bm/{z}/{x}/{y}.png');///火山
      baseMaps={
        '日本語':map1,
        '英語':map2,
        '火山':map3,
      }
      L.control.layers(baseMaps).addTo(mymap);
      map1.addTo(mymap);

// ---------------------------------------------------------------------------------------------------------------------------------------------------------
      
      // ロード時に都道府県の情報をゲットする関数
      function getprefecture(){
        var get_pref_url="http://35.194.42.99/world/geojson/get_pref";
        $.getJSON(get_pref_url,function(arg){
          appendprefoption(arg)
        })
      }

window.onload=getprefecture();

      // 都道府県レベルのoptionタグに値を入れる関数
      function appendprefoption(arg){
            $.each(arg,function(i,data){
              var listItem='<option value=' + data.id + '>' + data.name + "</option>";
              $(listItem).appendTo(pref_choice);
              var faclev=document.getElementById(city_choice);
              $(faclev).html('<option value="0">----</option>')
            })
          }

      // 市区町村の情報をゲットする関数
      function getcity(id){
        var get_city_url="http://35.194.42.99/world/geojson/get_city/"+id;
        $("#city_choice").empty();
        $.getJSON(get_city_url,function(arg){
          appendcityoption(arg)
        })
      }

      // 市区町村レベルのoptionタグに値を入れる関数
      function appendcityoption(arg){
        var faclev = '<option value="0">----</option>';
        $(faclev).appendTo(city_choice);
        $.each(arg,function(i,data){
          var listItem='<option value=' + data.id + '>' + data.name + "</option>";
          $(listItem).appendTo(city_choice);
          // console.log(data.id);
        })
      }
      
      // optionタグでエリアを選んだ時の条件を受け取る関数
      function areaSelected(area,id){
        // $("#city_choice").empty();
        if(area=='pref'){
          var id=id
          var area_selected_url="http://35.194.42.99/world/geojson/pref/"+id
          getcity(id);
          // mymap.removeLayer(plot);
          // console.log(area,id)
        }
        else if(area=='city'){
          var id=id
          var area_selected_url="http://35.194.42.99/world/geojson/city/"+id
          // console.log(id);
          // mymap.removeLayer(plot);
        }
        // mymap.removeLayer(plot);
        plotmarker(area_selected_url);
      }

      // マーカーをプロットする関数
      function plotmarker(area_selected_url){
        mymap.removeLayer(pref_geojson);
        pref_geojson=new L.GeoJSON.AJAX(area_selected_url,{
          onEachFeature:function(feature,layer){
            if(feature.properties){
              var popupString="<div class='popup'><a href='javascript:show_facility_detail(" + feature.id + ")'>" + feature.properties.evacuation_site + "</a></div>";
              layer.bindPopup(popupString);
            }
          }
        });
        // mymap.removeLayer(plot);
        mymap.addLayer(pref_geojson);
      }

      // 避難所の詳細をリンク付する関数
      function show_facility_detail(id){
        $("#facilitydetail").empty();
        var facility_url="http://35.194.42.99/world/geojson/" + id;
        $.getJSON(facility_url,function(data){
          var detailrow="<dt class='col-sm-2' align='right'>名称</dt><dd class='col-sm-10' align='left'>" + data[0].evacuation_site + "</dd>"
          detailrow += "<dt class='col-sm-2' align='right'>所在地</dt><dd class='col-sm-10' align='left'>" + data[0].location + "</dd>"
          detailrow += "<div><a href=http://35.194.42.99/world/form/"+id+">" +'入力'+ "</a></div>"
          $(detailrow).appendTo('#facilitydetail');
        });
        show_form_detail(id);
      }

      function show_form_detail(id){
        var facility_form_url="http://35.194.42.99/geojson/form/" + id;
        $.getJSON(facility_form_url,function(arg){
          $.each(arg,function(i,data){
            // console.log(data);
            var postrow ="<dt class='col-sm-2' align='right'>内容</dt><dd class='col-sm-10' align='left'>" + data.memo+ "</dd>"
            $(postrow).appendTo('#formdetail');
          })
          // console.log(data);s
        })
      }
  
    </script>

      <div class="form-group">
        <label for="pref_choice">都道府県:</label>
        <select class="form-control form-control-sm" name="prefecture" id="pref_choice"
          onchange="areaSelected('pref',this.value);">
          <option value="0" selected="selected">-----</option>
        </select>
      </div>


      <div class="form-group">
        <label for="city_choice">市区町村:</label>
        <select class="form-control form-control-sm" name="city" id="city_choice"
          onchange="areaSelected('city',this.value);">
          <option value="0" selected="selected">----</option>
        </select>
      </div>
    
      <div id='facilitydetail'></div>
      <div id='formdetail'></div>
        
  </body>
</html>


<!-- マーカー一つ一つに情報を加える関数 -->
<!-- function changeAreaMap(area,id){
  plot_marker=new L.GeoJSON.AJAX("http://127.0.0.1:8000/world/split/"+id,
  {
    onEachFeature:function(feature,layer){
      if(feature.properties){
        // console.log(layer)
        var popupString = "<div class='popup'><a href='javascript:show_facility_detail(" + feature.id + ")'>" + feature.properties.evacuation_site + "</a></div>";
        layer.bindPopup(popupString);

      }
    }
  });
  mymap.addLayer(plot_marker);
} -->
<!-- 
function display_pref(id,name){
  plot_marker=new L.GeoJSON.AJAX("http://127.0.0.1:8000/world/eva/"+id,
  {
    onEachFeature:function(feature,layer){
      if(feature.properties){
        // console.log(layer)
        var popupString = "<div class='popup'><a href='javascript:show_facility_detail(" + feature.id + ")'>" + feature.properties.evacuation_site + "</a></div>";
        layer.bindPopup(popupString);

      }
    }
  });
  mymap.addLayer(plot_marker);
} -->


<!-- function PrefSelected(pref,id){

  var area_choice = document.getElementById('city_choice');
  $(area_choice).html('<option value="0" selected="selected">----</option>');

  var url="http://127.0.0.1:8000/world/city/"+id;
  $.getJSON(url,function(data){
    // console.log(data[0]["code"]);
    for(var i in data){
      // console.log(i);
      // value_i=parseInt(i)
      // value_i+=1
      // console.log(value_i)
      $("#city_choice").append("<option value=" + data[i]["code"] + ">" + data[i]["name"] + "</option>");
    }
  })
} -->